<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Datanissen</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.form.js")
    @Scripts.Render("~/Scripts/knockout-2.2.0.js")

    @RenderSection("scripts", required: false) 
</head>
<body>
    <div id="pic1"><img src="~/Content/themes/base/images/carman1.png" /></div>
        <div id="pic2"><img src="~/Content/themes/base/images/car2.png" /></div>

    <div id="page">
        <section id="logo">

            <nav>
                <ul>
                    <li>@Html.ActionLink("Hem", "Index", "Home")</li>
                    <li>@Html.ActionLink("Forum", "Index", "Forum")</li>
                    <li>@Html.ActionLink("Tester", "Index", "Tests")</li>
                </ul>

            </nav>

        </section>

        <section id="sidebar">

            <br />
                <input type="search" value="Sök" />

            <h1>Senaste recensionen</h1>
    
            <p>
                Nya renault clio är testad. 3.2l/100km säger tillverkaren,
                kan snålkörning.se:s testförare klå det?
            </p>
                   
            <h1>Nytt verktyg</h1>
            <p>
                Nu kan ni konvertera mpg till l/100km och viceversa i forumet!
            </p>
        </section>

        <section id="content">
        @RenderBody()
        </section>
    </div>
</body>
</html>
