@model DataNissen.Models.Member

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Member</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PassHash)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PassHash)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Salt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Salt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Confirmed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Confirmed)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Banned)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Banned)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
